<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>prueba.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A01639251D178B4700A76EB1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A016393B1D178B4A00A76EB1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A01639461D178B4A00A76EB1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
